<h2> <%=@user.username%>'s SneakerLocker</h2>

<% @user_sneakers.each do |sneaker| %>
    <div>
        <%=sneaker.brand%> <%=sneaker.model%><br>
        Colorway: <%=sneaker.colorway%><br>
        Cost: $<%=sneaker.cost%><br>
        <a href='/sneakers/<%=sneaker.id%>/edit'>Edit Sneaker </a>
    </div>
<br>
<%end%>
<br>
<br>
<a href='/sneakers/new'>Enter new sneaker</a><br>
<a href='/logout'> Log out</a>